    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:yellow;
    }
    
    input {
        font-size: 2em;
        color: black;
        border-radius: 20px;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }
    
    #layoutStyle{
        display: inline-block;
        color: black;
        text-align: left;
        background-color: white;
        border-radius: 10px;
        padding: 5px;
    }
    
    select{
        font-size: 1.5em;
        color: black;
        margin-top: 5px;
    }
    
    hr{
        width:50%;
    }