.container{
    margin:0 auto;
	width:885px;
	height:1480px;
	background-color:#F3B7DB;
	opacity:.9;
	border:2px solid white;
	padding:20px;
	font-family:arial;
	border-radius:18px;
	color:#3E3E3E;
}
body{
    background-image:url("../img/bg3.png");
    background-repeat:no-repeat;
}
