body {
    background-color: black;
    color:gray;
}

header, main, nav, footer, #content {
    margin: 0 auto; /* this and the next line is to center content*/
    width:90%; 
    text-align: center;
}

nav a {
    padding:15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color:white;
}

nav a: hover {
    border-bottom: 2px;
    font-size:2em;
    transition: .9s;
}

nav .current {
    color:teal;
}
/*
figure, div {
    float:left;
}
*/

#me, #welcomeText{
    float: left;
    padding-left: 19%;
}

#welcomeText {
    text-align: left;
    padding-left: .01px;
    padding-top: 50px;
    width:200px;
}
footer {
    clear: left;
    font-size: small;
    color: teal;
}

table {
    margin: 0px auto; /*When you provide only two values to margin, the first is applied to the top and bottom, the second is applied to the left and the right. */
}

td {
    padding-right:10px;
    font-size: 1.3em;
}

td strong {
    color:orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

ul {
    text-align:left;
    padding-left:30%;
}

.hobby {
    color:yellow;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}