#box{
    width:45%;
	height: 45%;
	margin: 0 auto;
	font-family: Arial;
}
.itmes{
	position:absolute;
}
#button{
	top:250px;
	left:730px;
	position: relative;
}

#photo{
	position:absolute;
	width:100px;
	height:130px;
	/*display:inline;*/
}

.flex-continer{
	display:flex;
}

footer{
    font-family: "Times New Roman", Georgia, Serif;
    font-size:.8em;
    width:430px;
    text-align: center;
    margin:0 auto;
    margin-top: 210px;
    position:absolute;
}