.jumbotron{
    text-align: center;
}
.outerBox{
    margin:0 auto;
	width:725px;
	height:540px;
    border-color: #585350;
    border-style: solid;
    border-width: 1px;
    padding-top: 10px;
    background-color: #728E99;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.nameBox{
    border:solid #585350 3px;
    margin-right: 300px;
    padding-left: 10px;
    background-color: #9DBB9F;
    border-radius: 15px;
}
.titleBox{
    border:solid #585350 3px;
    background-color: #9DBB9F;
    padding:10px;
    border-radius: 15px;
    font-weight: bold;
}
.returnBox{
    margin: 0 auto;
    width:210px;
    border:solid #585350 3px;
    background-color: #9DBB9F;
    padding:10px;
    border-radius: 15px;
}